:root {
    --theme: #dfe4ea;
    --footer: #57606f;
    --header: #57606f;
    --nav-hover: #1e90ff;
    --nav: #444;
    --header-font-color: white;
    --nav-font-color: white;
    --footer-font-color: white;
}

body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-color: var(--theme);
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--header);
    color: var(--header-font-color);
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: var(--nav);
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: var(--nav-font-color);
    text-decoration: none;
}

nav ul li:hover {
    background-color: var(--nav-hover);
    transform: scale(1.1);
}

nav ul li {
    padding: 10px;
    border-radius: 0.5em;
}

main {
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
}

img {
    display: block;
    margin: 2rem auto;
    border-radius: 1rem;
}

main p {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0 1rem;
}

footer a {
    color: var(--footer-font-color);
    text-decoration: none;
}

footer {
    background-color: var(--footer);
    color: var(--footer-font-color);
    text-align: center;
    padding: 1rem;
}